## Basic operations : Earliest split and checking data

In [1]:
### autoreloader
%load_ext autoreload
%autoreload 2

In [2]:
### setting up the system path
import sys
sys.path.append('../')

In [3]:
### importing the functions from src
from src.basic.essential import load_data, get_nan_duplicates_shape, get_info, save_data, drop_cols
from src.basic.split_data import split_data_global, check_global_split

In [4]:
### setting up the data path 
df_path = '../data/raw/housing.csv'

In [5]:
### loading the data
df = load_data(df_path)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [7]:
### checking for the nan values and the shape
get_nan_duplicates_shape(df)

shape : (20640, 10)
0
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [8]:
### checking the df.info
get_info(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [9]:
### splitting the data globally (earliest clean split)
df_train, df_valid = split_data_global(df)

In [10]:
### checking the shape of the split
check_global_split(df_train, df_valid)

train shape : (15480, 10) :: valid shape : (5160, 10)

In [11]:
### checking the df_train.head()
df_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-117.07,32.71,36.0,2448.0,475.0,1268.0,450.0,2.5682,109100.0,NEAR OCEAN
1,-120.05,36.96,37.0,1000.0,261.0,1092.0,233.0,1.4267,52300.0,INLAND
2,-122.15,37.74,41.0,856.0,178.0,571.0,191.0,3.1458,130600.0,NEAR BAY
3,-118.27,33.95,35.0,2073.0,494.0,1753.0,490.0,1.5000,93600.0,<1H OCEAN
4,-117.01,32.78,20.0,2616.0,597.0,1532.0,579.0,2.9896,235600.0,<1H OCEAN

In [12]:
### checking the nan and the shape for the df_train
get_nan_duplicates_shape(df_train)

shape : (15480, 10)
0
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [15]:
### checking the df_valid.head()
df_valid.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.41,38.07,20.0,4536.0,708.0,1812.0,701.0,6.0433,435900.0,NEAR BAY
1,-119.96,38.93,22.0,2731.0,632.0,1215.0,483.0,2.8300,110500.0,INLAND
2,-118.80,34.27,12.0,3330.0,600.0,1577.0,584.0,4.6985,264100.0,<1H OCEAN
3,-117.88,33.75,34.0,3004.0,673.0,5477.0,640.0,2.8342,187200.0,<1H OCEAN
4,-117.80,33.85,16.0,4151.0,637.0,1558.0,604.0,5.8060,304900.0,<1H OCEAN

In [16]:
### checking the nan values inside it and the shape
get_nan_duplicates_shape(df_valid)

shape : (5160, 10)
0
longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        49
population             0
households             0
median_income          0
median_house_value     0
ocean_proximity        0
dtype: int64

In [17]:
### saving the 'median_house_value' column from the df_valid at other location before dropping it
y_true_valid = df_valid['median_house_value']
y_true_valid

0       435900.0
1       110500.0
2       264100.0
3       187200.0
4       304900.0
          ...
5155    132500.0
5156    144100.0
5157    500001.0
5158    114000.0
5159     74700.0
Name: median_house_value, Length: 5160, dtype: float64

In [18]:
### dropping the 'median_house_value' from the df_valid
drop_cols(df_valid, 'median_house_value')
df_valid.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.41,38.07,20.0,4536.0,708.0,1812.0,701.0,6.0433,NEAR BAY
1,-119.96,38.93,22.0,2731.0,632.0,1215.0,483.0,2.8300,INLAND
2,-118.80,34.27,12.0,3330.0,600.0,1577.0,584.0,4.6985,<1H OCEAN
3,-117.88,33.75,34.0,3004.0,673.0,5477.0,640.0,2.8342,<1H OCEAN
4,-117.80,33.85,16.0,4151.0,637.0,1558.0,604.0,5.8060,<1H OCEAN

In [19]:
### setting up the path for these data to be saved in split_global folder
train_path = '../data/split_global/train.csv'
valid_path = '../data/split_global/valid.csv'
y_true_valid_path = '../data/split_global/y_true_valid.csv'

In [20]:
### saving each one of them
save_data(df_train, train_path)
save_data(df_valid, valid_path)
save_data(y_true_valid, y_true_valid_path)

In [21]:
### checking out the things : train
train = load_data(train_path)
train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-117.07,32.71,36.0,2448.0,475.0,1268.0,450.0,2.5682,109100.0,NEAR OCEAN
1,-120.05,36.96,37.0,1000.0,261.0,1092.0,233.0,1.4267,52300.0,INLAND
2,-122.15,37.74,41.0,856.0,178.0,571.0,191.0,3.1458,130600.0,NEAR BAY
3,-118.27,33.95,35.0,2073.0,494.0,1753.0,490.0,1.5000,93600.0,<1H OCEAN
4,-117.01,32.78,20.0,2616.0,597.0,1532.0,579.0,2.9896,235600.0,<1H OCEAN

In [19]:
### by the shape and nan
get_nan_duplicates_shape(df_train)

shape : (15480, 10)
0
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [28]:
### checking the 'valid'
valid = load_data(valid_path)
valid.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.41,38.07,20.0,4536.0,708.0,1812.0,701.0,6.0433,NEAR BAY
1,-119.96,38.93,22.0,2731.0,632.0,1215.0,483.0,2.8300,INLAND
2,-118.80,34.27,12.0,3330.0,600.0,1577.0,584.0,4.6985,<1H OCEAN
3,-117.88,33.75,34.0,3004.0,673.0,5477.0,640.0,2.8342,<1H OCEAN
4,-117.80,33.85,16.0,4151.0,637.0,1558.0,604.0,5.8060,<1H OCEAN

In [20]:
### by the shape and nan
get_nan_duplicates_shape(df_valid)

shape : (5160, 9)
0
longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        49
population             0
households             0
median_income          0
ocean_proximity        0
dtype: int64

In [51]:
### checking 'y_true_valid'
y_true_valid = load_data(y_true_valid_path)
y_true_valid.head()

   median_house_value
0            435900.0
1            110500.0
2            264100.0
3            187200.0
4            304900.0

In [21]:
### checking the shape and nan values
get_nan_duplicates_shape(y_true_valid)

shape : (5160,)
2716
0